


.contenedor-grid {
margin: 40px 40px auto;

display: grid;
grid-template-columns: repeat(4, 1fr);
grid-auto-rows: 20px 4 ;
grid-gap: 10px;


}

.grid-secciones{
    background-color: #159ba6;
    color: #fff;
    text-align: center;
}

.grid-secciones > p{
    font-size: 22px;
    margin: 10px;
 
}

.fa-phone, .fa-truck, .fa-fire, .fa-box-archive {
    font-size: 40px;
    margin: 20px;
}